on:
  push:
    branches:
      - master
      - main
      - refactor
  pull_request:
    branches:
      - master
      - main
      - refactor
jobs:
  lintstage:
    steps:
      - run: |
          apt-get update -y
          apt-get install -y nodejs
          npm install
          npm run lint
    runs-on: ubuntu-latest
  build:
    steps:
      - run: echo "ANOTHER GREAT SUCCESS"
      - uses: djbender/docker-buildx-pull-or-build@v0.5
        with:
          docker_username: GenericDockerUserName
          docker_password: ${{ secrets.docker-password }}
          dockerfile: ./Dockerfile
          image: SingularCI_TestingImage
    runs-on: ubuntu-latest
  test:
    steps:
      - run: |
          npm install
          npm test
    runs-on: ubuntu-latest
    needs:
      - lintstage
      - build
  pull_image:
    steps:
      - uses: djbender/docker-buildx-pull-or-build@v0.5
        with:
          docker_username: GenericDockerUserName
          docker_password: ${{ secrets.docker-password }}
          dockerfile: ""
          image: GenericDockerUserName/SingularCI_TestingImage
    runs-on: ubuntu-latest
  custom_image_stage:
    steps:
      - run: echo "Im a custom image job"
    runs-on: ubuntu-latest
    container: node:16
